<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4"><%= @character.name %></h1>
          <p class="lead"><%= @character.template %></p>
          <p><%= @character.concept %></p>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <table class="table">
          <tr>
            <th scope="row" colspan="1">Birthdate</th>
            <td scope="row" colspan="3"><%= @character.birthdate.strftime("%B %d, %Y") %></th>
          </tr>
          <tr>
            <th scope="row" colspan="1">Virtue</th>
            <td scope="row" colspan="3"><%= @character.virtue %></th>
          </tr>
          <tr>
            <th scope="row" colspan="1">Vice</th>
            <td scope="row" colspan="3"><%= @character.vice %></th>
          </tr>
          <tr>
            <th scope="row">Health</th>
            <td scope="row"><%= @character.health %></th>
            <th scope="row">Willpower</th>
            <td scope="row"><%= @character.willpower %></th>
          </tr>
          <tr>
            <th scope="row">Integrity</th>
            <td scope="row"><%= @character.integrity %></th>
            <th scope="row">Defense</th>
            <td scope="row"><%= @character.defense %></th>
          </tr>
          <tr>
            <th scope="row">Initiative</th>
            <td scope="row"><%= @character.initiative %></th>
            <th scope="row">Speed</th>
            <td scope="row"><%= @character.speed %></th>
          </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm text-center">
      <h1>Attributes</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table class="table">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col" colspan="2">Mental</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Intelligence</th>
            <td scope="row"><%= @character.intelligence %></th>
          </tr>
          <tr>
            <th scope="row">Wits</th>
            <td scope="row"><%= @character.wits %></th>
          </tr>
          <tr>
            <th scope="row">Resolve</th>
            <td scope="row"><%= @character.resolve %></th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm">
      <table class="table">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col" colspan="2">Physical</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Strength</th>
            <td scope="row"><%= @character.strength %></th>
          </tr>
          <tr>
            <th scope="row">Dexterity</th>
            <td scope="row"><%= @character.dexterity %></th>
          </tr>
          <tr>
            <th scope="row">Stamina</th>
            <td scope="row"><%= @character.stamina %></th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm">
      <table class="table">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col" colspan="2">Social</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Presence</th>
            <td scope="row"><%= @character.presence %></th>
          </tr>
          <tr>
            <th scope="row">Manipulation</th>
            <td scope="row"><%= @character.manipulation %></th>
          </tr>
          <tr>
            <th scope="row">Composure</th>
            <td scope="row"><%= @character.composure %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm text-center">
      <h1>Skills</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table class="table">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col" colspan="2">Mental</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Academics</th>
            <td scope="row"><%= @character.academics %></th>
          </tr>
          <tr>
            <th scope="row">Computers</th>
            <td scope="row"><%= @character.computers %></th>
          </tr>
          <tr>
            <th scope="row">Crafts</th>
            <td scope="row"><%= @character.crafts %></th>
          </tr>
          <tr>
            <th scope="row">Investigation</th>
            <td scope="row"><%= @character.investigation %></th>
          </tr>
          <tr>
            <th scope="row">Medicine</th>
            <td scope="row"><%= @character.medicine %></th>
          </tr>
          <tr>
            <th scope="row">Occult</th>
            <td scope="row"><%= @character.occult %></th>
          </tr>
          <tr>
            <th scope="row">Politics</th>
            <td scope="row"><%= @character.politics %></th>
          </tr>
          <tr>
            <th scope="row">Science</th>
            <td scope="row"><%= @character.science %></th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm">
      <table class="table">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col" colspan="2">Physical</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Athletics</th>
            <td scope="row"><%= @character.athletics %></th>
          </tr>
          <tr>
            <th scope="row">Brawl</th>
            <td scope="row"><%= @character.brawl %></th>
          </tr>
          <tr>
            <th scope="row">Drive</th>
            <td scope="row"><%= @character.drive %></th>
          </tr>
          <tr>
            <th scope="row">Firearms</th>
            <td scope="row"><%= @character.firearms %></th>
          </tr>
          <tr>
            <th scope="row">Larceny</th>
            <td scope="row"><%= @character.larceny %></th>
          </tr>
          <tr>
            <th scope="row">Stealth</th>
            <td scope="row"><%= @character.stealth %></th>
          </tr>
          <tr>
            <th scope="row">Survival</th>
            <td scope="row"><%= @character.survival %></th>
          </tr>
          <tr>
            <th scope="row">Weaponry</th>
            <td scope="row"><%= @character.weaponry %></th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm">
      <table class="table">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col" colspan="2">Social</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Animal Ken</th>
            <td scope="row"><%= @character.animal_ken %></th>
          </tr>
          <tr>
            <th scope="row">Empathy</th>
            <td scope="row"><%= @character.empathy %></th>
          </tr>
          <tr>
            <th scope="row">Expression</th>
            <td scope="row"><%= @character.expression %></th>
          </tr>
          <tr>
            <th scope="row">Intimidation</th>
            <td scope="row"><%= @character.intimidation %></th>
          </tr>
          <tr>
            <th scope="row">Persuasion</th>
            <td scope="row"><%= @character.persuasion %></th>
          </tr>
          <tr>
            <th scope="row">Socialize</th>
            <td scope="row"><%= @character.socialize %></th>
          </tr>
          <tr>
            <th scope="row">Streetwise</th>
            <td scope="row"><%= @character.streetwise %></th>
          </tr>
          <tr>
            <th scope="row">Subterfuge</th>
            <td scope="row"><%= @character.subterfuge %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <h1>Merits</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table class="table">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col" colspan="2">Mental</th>
          </tr>
        </thead>
        <tbody>
          <% @character.purchased_merits.each do |merit| %>
          <tr>
            <th scope="row"><%= merit.name %></th>
            <td scope="row"><%= merit.level %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
